<ul class="footer-social">
  <li>
    <a href="https://www.linkedin.com/pub/ian-stewart/11/b04/9bb"><i class="fa fa-linkedin"></i></a>
  </li>
  <li>
    <a href="https://github.com/ianmstew"><i class="fa fa-github"></i></a>
  </li>
  <li>
    <a href="https://twitter.com/ianmstew"><i class="fa fa-twitter"></i></a>
  </li>
  <li>
    <a href="mailto:ianmstew at gmail dot com"><i class="fa fa-envelope-o"></i></a>
  </li>
</ul>
<div class="design-attribution">
  Site design a shameless homage to <a href="http://markdotto.com/about/">@mdo</a>
</div>